<%= render partial: "articles/header" %>
<div class="row gx-5 pt-3">
  <% if @article.user == current_user %>
    <div class="col">
      <div class="d-flex justify-content-end">
        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-primary mx-3" %>
        <%= link_to "Destroy", article_path(@article), 
                  data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } , class: "btn btn-outline-danger mx-3" %>
      </div>
    </div>
  <% end %>
</div>
<div>
  <div>
    <h2 class="display-2"><%= @article.title %></h2>
    <div class="row mb-3">
      <div class="col profile-picture-container-md">
        <img class="rounded-circle img-fluid" alt="avatar1" src="https://i.pinimg.com/564x/30/12/b2/3012b259c2906cdb092bff71ff5c7e63.jpg" />
      </div>
      <div class="col p-0">
        <p>By <%= @article.user.first_name %> <%= @article.user.last_name %></p>
      </div>
    </div>
    <%= image_tag( @article.image, :class => "img-fluid", :alt => "...") %>
  </div>
  <hr class="hr" />
  <div>
    <p><%= @article.content %></p>
  </div>
  <hr class="hr"/>
</div>
<div>
  <h3>Comments</h3>
  <%= render @article.comments %>
  <h4>Add a comment:</h4>
  <%= render "comments/form", article: @article %>
</div>
